@use "variables" as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: vars.$bg-app;
  color: vars.$text-main;
  font-family: vars.$font-main;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  color: vars.$text-strong;
  font-weight: 700;
  line-height: 1.2;
}

a {
  color: vars.$primary;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: vars.$primary-hover;
  }
}

.text-subtle {
  color: vars.$text-subtle;
}
